{% extends 'base_site.html' %}
{% load extra_article %}
{% load static %}
{% block title %}{{article.title}}{% endblock title %}

{% block MainContent %}
{% include 'include/breadcrumbs.html' %}
<div class="container-detail">
    <div class="article">
        <h1>{{article.title}}</h1>
        <h2 class="header">Publié par {{article.author}}, le {{article.published_date}}.</h2>
        <p>{{article.article}}</p>
        {% if article.source_set.all %}
        <h6>Sources :</h6>
        <ol>
            {% for sourceItem in article.source_set.all %}
            <li>{{sourceItem.item}}</li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
    <div class="side">
        <h3>Thèmes couverts par l'article :</h3>
        <div class="themes">
            {% for themeId in theme_list %}
            {% if article.theme|getattribute:themeId == True %}
            <button class="btn-theme choice-btn" name="{{themeId}}">{{themeId|themehandle:'NO'}}</button>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Ecrit pour :</h3>
        <div class="publi">
            <button class="btn-theme choice-publi-btn"
                name="{{article.publication}}">{{article.publication|publihandle:'NO'}}</button>
        </div>
    </div>
</div>
{% endblock MainContent %}

{% block extraScript %}
<script src="{% static 'js/article.js' %}"></script>
{% endblock extraScript %}