{% extends 'base_site.html' %}
{% load extra_article %}
{% load static %}
{% block title %}Articles{% endblock title %}

{% block MainContent %}
{% include 'include/breadcrumbs.html' %}
<div class="container-article">
    <div class="themes-filter neu">
        <div>Selectionner les filtres à appliquer :</div>
        <div id="choice">
            {% for theme in theme_list %}
            <div class="choice">
                <input type="checkbox" id="{{theme.title}}" class="check-input" />
                <label for="{{theme.title}}" class="checkbox">
                    <svg viewBox="0 0 22 16" fill="none">
                        <path d="M1 6.85L8.09677 14L21 1" />
                    </svg>
                </label>
                <span>{{theme.title}} : {{theme.count}}</span>
            </div>
            {% endfor %}
        </div>
        <div id="choice-publi">
            {% for publiId in publi_list %}
            <div class="choice-publi">
                <input type="checkbox" id="{{publiId}}" class="check-input" name="publication" />
                <label for="{{publiId}}" class="checkbox">
                    <svg viewBox="0 0 22 16" fill="none">
                        <path d="M1 6.85L8.09677 14L21 1" />
                    </svg>
                </label>
                <span>{{publiId|publihandle:None}}</span>
            </div>
            {% endfor %}
        </div>
        <button class="reset-filter neu btn">Réinitialiser les filtres :</button>
    </div>
    <div class="grid-article">
        {% for article in page_obj %}
        <div class="item-article">
            <a href="{% url 'ArticlePage:detail' article.id %}">
                <h1>{{article.title}}</h1>
            </a>
            <div class="details">
                <h2>{{article.author}}</h2>
                <h2>{{article.published_date}}</h2>
            </div>
            <div class="themes">
                {% for theme in article.themes.all %}
                <button class="btn-theme choice-btn" name="{{theme.title}}">{{theme.title}}</button>
                {% endfor %}
            </div>
            <button class="choice-publi-btn btn-theme"
                name="{{article.publication}}">{{article.publication|publihandle:'NO'}}
            </button>
        </div>
        {% empty %}
        <h1>Désolé, il n'existe aucun article correspondant à votre sélection...</h1>
        {% endfor %}
    </div>
</div>
{% if page_obj.paginator.num_pages != 1  %}
<div class="pagination center neu">
    <div class="step-links">
        <div class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </div>
        <button class="btn neu {% if page_obj.has_previous %}active{% endif %}" {% if page_obj.has_previous %}
            onclick="window.location.href='?page={{ page_obj.previous_page_number }}'" {% else %} disabled="disabled"
            {% endif %}>
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="btn neu {% if page_obj.has_next %}active{% endif %}" {% if page_obj.has_next %}
            onclick="window.location.href='?page={{ page_obj.next_page_number }}'" {% else %} disabled="disabled"
            {% endif %}>
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extraScript %}
<script src="{% static 'js/article.js' %}"></script>
{% endblock extraScript %}