{% extends 'base_site.html' %}
{% load extra_home %}
{% load extra_article %}
{% load static %}
{% block title %}
Recherche globale
{% endblock title %}

{% block MainContent %}
{% if search_result.has_search_result %}
<div class="grid-article">
    {% for article in search_result.articlepage_article %}
    <div class="item-article">
        <a href="{% url 'ArticlePage:detail' article.id %}">
            <h1>{{article.title}}</h1>
        </a>
        <div class="details">
            <h2>{{article.author}}</h2>
            <h2>{{article.published_date}}</h2>
        </div>
        <div class="themes">
            {% for themeId in theme_list %}
            {% if article.theme|getattribute:themeId == True %}
            <button class="choice-btn btn-theme" name="{{themeId}}">{{themeId|themehandle:'NO'}}</button>
            {% endif %}
            {% endfor %}
        </div>
        <button class="choice-publi-btn btn-theme"
            name="{{article.publication}}">{{article.publication|publihandle:'NO'}}</button>
    </div>
    {% endfor %}
    {% for cv in search_result.cvpage_cv %}
    <div class="item-article">
        <a href="{% url 'CVPage:detail' cv.pk %}">
            <img src="{{ cv.photo.url}}" height="128px" width="128px">
            <h1>{{cv}}</h1>
        </a>
    </div>
    {% endfor %}
    {% for photo in search_result.gallerypage_photo %}
    <div class="item-article">
        <h2>Photo :</h2>
        <a href="{% url 'GalleryPage:detail' photo.pk %}">
            <img src="{{ photo.image.url}}" height="128px">
        </a>
        <div class="details">
            <h2>{{photo.name}}</h2>
            <h2>{{photo.date}}</h2>
        </div>
    </div>
    {% endfor %}
</div>
<div class="blank"></div>
{% else %}
<h1>Désolé, nous ne trouvons rien qui corresponde à votre recherche.</h1>
{% endif %}
{%endblock MainContent%}

{% block extraScript %}
<script src="{% static 'js/article.js' %}"></script>
{% endblock extraScript %}