/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  //font: normal 125% / 1.4 $text-font-stack;
  font: normal 16px 'PT Sans', sans-serif;
}

@mixin text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.015em;
}