audio::-webkit-media-controls-panel {
    border-radius: 0;
    background-color: #E5E5E5;
    border: none;
}

audio {
    width: 100%;
    border-radius: 0;
    border: 1px black solid;
    background-color: #E5E5E5;
}