.book {
    perspective: 5000px;
    width: 50%;
    height: 100%;
    position: relative;
    transition: all 1s ease;
    max-width: 750px;
    //max-height: 85%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &>:not(:first-child) {
        &>.front {
            background-image: linear-gradient(90deg, #8a8a8a50 0%, rgba(247, 247, 247, 0) 10%);

            @media screen and (max-width: 768px) {
                background-image: linear-gradient(0deg, #8a8a8a50 0%, rgba(247, 247, 247, 0) 10%);
            }
        }
    }

    &>:first-child {
        &>.front {
            justify-content: start;
            background-image: url('../HomePage/images/Journal.png');
            background-size: cover;

            &>.title {
                align-self: center;
                font-size: 1.8em;

                @media screen and (max-width: 768px) {
                    margin-top: 4px;
                }
            }
        }
    }

    &>:not(:last-child) {
        &>.back {
            background-image: linear-gradient(-90deg, #8a8a8a50 0%, rgba(247, 247, 247, 0) 10%);

            @media screen and (max-width: 768px) {
                background-image: linear-gradient(-180deg, #8a8a8a50 0%, rgba(247, 247, 247, 0) 10%);
            }
        }
    }

    &>.page {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: all 1s ease;
        transform-origin: left center;
        transform-style: preserve-3d;

        @media screen and (max-width: 768px) {
            transform-origin: bottom center;
        }


        &.active {
            z-index: 1;
        }

        &.flipped {
            transform: rotateY(-180deg);

            @media screen and (max-width: 768px) {
                transform: rotateY(0) rotateX(-180deg);
            }
        }

        &>div {
            border-radius: 2em;
            position: absolute;
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &.back {
                transform: rotateY(180deg);

                @media screen and (max-width: 768px) {
                    transform: rotateY(0) rotateX(180deg);
                }
            }

            &>h1 {
                margin: 2vh 4vw;
            }

            &>.title {
                flex-shrink: 1;

                @media screen and (max-width: 768px) {
                    font-size: 22px;
                    flex-grow: 1;
                }
            }

            &>.synopsis {
                margin: auto 4vw;
                overflow: hidden;
                max-height: 75%;

                &::after {
                    content: "...";
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            &>.learn-more {
                align-self: center;
                display: flex;
                justify-content: center;
                z-index: 10;
                margin: 32px 0;

                @media screen and (max-width: 768px) {
                    margin: 0;
                }

                &>a {
                    display: flex;
                    align-items: baseline;
                    padding-right: 10px;
                    color: black;
                    @include text();
                }
            }

            &>.pagenumber {
                flex-shrink: 1;
                align-self: center;
                margin: 8px 0;

                @media screen and (max-width: 768px) {
                    margin: 2px 0;
                }
            }
        }
    }
}