// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn {
    padding: 15px;
    border-radius: 30px;
    color: black;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        padding: 10px;
    }

    &.lg {
        font-size: 1em;
    }

    &:enabled:active {
        cursor: pointer;
        @include reverse-neu;
    }

    &:disabled {
        color: $gray;
        cursor: auto;
    }
}

.btn-theme {
    margin: 4px;
    padding: 4px 12px;
    width: max-content;
    border-radius: 20px;
    border: $blue 1px solid;
    background-color: rgba($color: $blue, $alpha: 0.2);
    cursor: pointer;

    &:hover {
        background-color: rgba($color: lighten($blue, 25%), $alpha: 1.0);
    }
}

.learn-more {
    align-self: center;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin: 32px 0;

    @media screen and (max-width: 768px) {
        margin: 8px 0;
    }

    &>a {
        display: flex;
        align-items: baseline;
        padding-right: 10px;
        color: black;
        @include text();
    }
}

.admin {
    margin: 0 16px 0 8px;
    background: #E1E1E1;
    height: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 32px;
    border-radius: 100%;
    align-self: center;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &>i {
        color: $dark-gray;
        font-size: 18px;
        text-align: center;
    }

    &:hover {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}