// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.btn {
    padding: 15px;
    border-radius: 30px;
    color: black;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        padding: 4px 8px;
    }

    &.lg {
        font-size: 1em;
    }

    &:enabled:active {
        cursor: pointer;
        @include reverse-neu;
    }

    &:disabled {
        color: $gray;
        cursor: auto;
    }
}

.btn-theme {
    margin: 4px;
    padding: 4px 12px;
    width: max-content;
    border-radius: 20px;
    border: $blue 1px solid;
    background-color: rgba($color: $blue, $alpha: 0.2);
    cursor: pointer;

    &:hover {
        background-color: rgba($color: lighten($blue, 25%), $alpha: 1.0);
    }
}