#carousel {
    @media screen and (max-width: 768px) {
        margin: 0 3vw;
    }

    margin: 0 32px;
    width: 100%;

    &>.slider {
        position: relative;

        height: 100%;
        width: 100%;

        overflow: hidden;

        &>.item {
            //Position
            position: absolute;
            display: flex;
            flex-direction: column;
            opacity: 0;
            left: -100vw;
            transition: all 0.5s ease-in-out;

            height: 100%;
            width: 100%;

            &>.content {
                flex-grow: 1;
                width: 70%;
                margin: 16px 15% 0 15%;

                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: 95%;
                    margin: 2.5% 2.5% 0 2.5%;
                }
            }

            &>span {
                width: max-content;
                display: flex;
                margin: 2.5% 0;
                justify-self: center;
                align-self: center;

                &>a {
                    margin-right: 8px;
                    color: black;
                }
            }

            &.next {
                left: 100vw;
                opacity: 0;
            }

            &.active {
                display: flex;
                flex-direction: column;
                opacity: 1;
                left: 0;
            }

        }

    }

    &>.control {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 2.5%;

        bottom: 50%;

        &>div {
            @media screen and (max-width: 768px) {
                height: 4vw;
                width: 4vw;
            }

            height: 32px;
            width: 32px;

            border-radius: 3px;
            cursor: pointer;
        }

        &>.arrow-left {
            border-bottom: 5px solid rgba(0, 0, 0, 0.3);
            border-left: 5px solid rgba(0, 0, 0, 0.3);
            transform: translateX(25%) rotate(45deg);
        }

        &>.arrow-right {
            border-right: 5px solid rgba(0, 0, 0, 0.3);
            border-top: 5px solid rgba(0, 0, 0, 0.3);
            transform: translateX(-25%) rotate(45deg);
        }

    }
}