.gallery {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 1em;

    &-item {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        max-height: 300px;
        flex: 1 1 auto;
        margin: 0.5em;
        cursor: pointer;

        .caption {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0;
            line-height: 1em;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.6);
            transition: transform 250ms;
            z-index: -100;
        }

        .thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            .caption {
                transform: translate(0, -3em);
                z-index: 10;
            }
        }
    }
}

.container-photo {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 1em;

    .photo {
        display: flex;
        flex: 2;
        width: 100%;
        justify-content: center;

        img {
            min-width: 50vw;
            max-height: 80vh;
            object-fit: contain;
        }
    }

    .detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;

        .description {
            flex-grow: 1;
        }
    }
}