.iphone {
    margin: 32px 0;
    height: 100%;
    width: 100%;
    background: $background-gray;
    border-radius: 2em;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        height: max-content;
        padding: 0.5em;
    }

    .title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.75em;
        margin-bottom: 2em;
    }

    .album-cover {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media screen and (max-width: 768px) {
            flex-grow: 0;
        }

        .image {
            width: 100%;
            background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
            flex-grow: 1;

            @media screen and (max-width: 768px) {
                display: none;
            }

        }

        .song-title {
            text-align: center;
            padding-bottom: 0;
            margin-bottom: 0;
            color: $dark-gray;
        }

        .artist-title {
            text-align: center;
            padding: 1em 0;
            margin: 0;
            font-size: 0.85em;
            color: $dark-gray;
        }
    }



    .lyrics {
        width: max-content;
        margin: 0 auto;
        color: $gray;
        margin-top: 2em;
        text-align: center;
        font-size: 0.75em;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
}

.neu {
    @include neu;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;

    &>button {
        color: $dark-gray;
    }
}


.chapitres {
    display: none;

    &.chapitres-active {
        display: flex;
        flex-direction: column;
    }

    & .chapitre {
        padding: 8px 0;
        display: flex;

        & .chapitre-content {
            font-weight: bolder;
            padding-right: 8px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &::after {
                content: ' :';
            }
        }
    }
}

.suggestions {
    margin: 32px 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .card {
        width: 220px;
        margin: 16px 16px;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;

        .title {
            flex-grow: 1;
            width: 100%;
            padding: 0 0.5em;
            font-size: 24px;
            color: $dark-gray;
        }

        .play-audio {
            margin: 1em auto;
            color: $dark-gray;
        }
    }
}