.shelf {
    width: max-content;
    height: fit-content;
    margin: 32px 0;

    &>button {
        height: max-content;
        width: max-content;
        margin: 0 1em;
        transition: top 0.3s ease-in-out;

        &>i {
            padding: 16px 4px 0 4px;
            font-size: 32px;
            color: $gray;

            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
        }

        &:hover,
        &.active {
            &>i {
                position: relative;
                top: -16px;
            }
        }

        &.active {
            @include reverse-neu;
        }
    }
}