<footer id="footer-page">
    <div class="top">
        <form action="{% url 'HomePage:search' %}" class="search-bar neu center" role="search">
            <i class="fa-solid fa-magnifying-glass center"></i>
            <input placeholder="Rechercher" type="search" name="q">
            <button type="submit"><i class="fa-solid fa-arrow-right center"></i></button>
        </form>
        <span class="about">
            <p class="name">Lucie Lebreton</p>
            <a href="mailto:lucie.lebreton12@gmail.com">lucie.lebreton12@gmail.com</a>
        </span>
    </div>
    <div class="bottom">
        <div class="copyright">
            <p>© Guillemet Samuel - 2022</p>
        </div>
        <div class="social-media">
            <a href="https://github.com/SamuelGuillemet" class="github"><i class="fa-brands fa-github center"></i></a>
            <a href="https://www.linkedin.com/in/samuelguillemet" class="linkedin"><i
                    class="fa-brands fa-linkedin center"></i></a>
        </div>
    </div>
</footer>