<header id="nav-menu">
    <section class="top-nav">
        <h1>L&S Site</h1>
        <ul class="items menu-items">
            <li><a href="{% url 'GalleryPage:home' %}">Galerie photos</a></li>
            <li><a href="{% url 'ArticlePage:home' %}">Articles</a></li>
            <li><a href="{% url 'HomePage:home' %}">Accueil</a></li>
            <li><a href="{% url 'PodcastPage:home' %}">Podcasts</a></li>
            <li><a href="{% url 'CVPage:home' %}">CV</a></li>
        </ul>
        <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="{% url 'admin:index' %}" class="connect">
            <i class="fa-solid fa-user"></i>
        </a>
    </section>
    <section class="mobile-nav">
        <ul class="items menu-items" id="nav-items">
            <li><a href="{% url 'GalleryPage:home' %}">Galerie photos</a></li>
            <li><a href="{% url 'ArticlePage:home' %}">Articles</a></li>
            <li><a href="{% url 'HomePage:home' %}">Accueil</a></li>
            <li><a href="{% url 'PodcastPage:home' %}">Podcasts</a></li>
            <li><a href="{% url 'CVPage:home' %}">CV</a></li>
        </ul>
    </section>
</header>