<footer id="footer-page">
    <div class="top">
        <div class="search-bar neu center">
            <i class="fa-solid fa-magnifying-glass center"></i>
            <input placeholder="Rechercher" type="text">
            <button><i class="fa-solid fa-arrow-right center"></i></button>
        </div>
        <span class="about">
            <p class="name">Lucie Lebreton</p>
            <a href="mailto:lucie.lebreton12@gmail.com">lucie.lebreton12@gmail.com</a>
        </span>
    </div>
    <div class="bottom">
        <div class="copyright">
            <p>© Guillemet Samuel - 2022</p>
        </div>
        <div class="social-media">
            <a href="#" class="github"><i class="fa-brands fa-github center"></i></a>
            <a href="#" class="linkedin"><i class="fa-brands fa-linkedin center"></i></a>
        </div>
    </div>
</footer>