<section id="breadcrumbs">
    <ul class="breadcrumbs">
        <li class="breadcrumbs--item">
            <a href="#">
                <span class="start"></span>
                <div class="content">
                    <span>Acceuil</span>
                </div>
                <span class="end"></span>
            </a>
        </li>
        <li class="breadcrumbs--item">
            <a href="#1">
                <span class="start"></span>
                <div class="content">
                    <span>Articles</span>
                </div>
                <span class="end"></span>
            </a>
        </li>
        <li class="breadcrumbs--item">
            <a href="#2">
                <span class="start"></span>
                <div class="content">
                    <span>Ecrit récemment</span>
                </div>
                <span class="end"></span>
            </a>
        </li>
        <li class="breadcrumbs--item">
            <a href="#3">
                <span class="start"></span>
                <div class="content">
                    <span>Education</span>
                </div>
                <span class="end"></span>
            </a>
        </li>
        <li class="breadcrumbs--item">
            <a href="#4">
                <span class="start"></span>
                <div class="content">
                    <span>Page 4</span>
                </div>
                <span class="end"></span>
            </a>
        </li>
    </ul>
</section>