<section id="carousel">
    <div class="slider">
        <div class="item active" id="item-0">
            <div class="content">
                <h1>Un djihadiste de l’EI reconnu coupable aux Etats-Unis de l’enlèvement et la mort
                    d’otages
                    américains</h1>
                <h3>El Shafee El-Sheikh, arrêté par les forces kurdes en Syrie en 2018, a été reconnu
                    coupable pour
                    son implication dans la mort de quatre otages américains, dont les journalistes
                    américains James
                    Foley et Steven Sotloff. Il encourt la réclusion à perpétuité.</h3>
                <p>El Shafee El-Sheikh, membre de la sinistre cellule des « Beatles » au sein du groupe
                    djihadiste
                    Etat islamique (EI), a été reconnu coupable jeudi par un tribunal américain d’avoir joué
                    un rôle
                    dans l’enlèvement et la mort de quatre otages américains en Syrie, un verdict salué par
                    les
                    familles des victimes.</p>
                <p>Accusé d’être membre de ce trio sanguinaire, surnommé ainsi par les otages en raison de
                    leur
                    accent britannique, il était jugé à Alexandria, près de Washington, pour la capture et
                    la mort
                    des journalistes James Foley et Steven Sotloff, ainsi que des travailleurs humanitaires
                    Kayla
                    Mueller et Peter Kassig, et pour son soutien à une organisation terroriste.</p>
            </div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item next" id="item-1">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-2">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-3">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-4">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
    </div>
    <div class="control">
        <div class="arrow-left" id="carousel-arrow-left"></div>
        <div class="arrow-right" id="carousel-arrow-right"></div>
    </div>
</section>