<section id="carousel">
    <div class="slider">
        <div class="item active" id="item-0">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item next" id="item-1">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-2">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-3">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
        <div class="item" id="item-4">
            <div class="content"></div>
            <span class="learn-more">
                <a href="">EN SAVOIR PLUS<div class="arrow"></div></a>
            </span>
        </div>
    </div>
    <div class="control">
        <div class="arrow-left" id="carousel-arrow-left"></div>
        <div class="arrow-right" id="carousel-arrow-right"></div>
    </div>
</section>