// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footer {
    border-top: 3px outset black;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(218, 218, 218, 0.95);

    &>.top {
        display: flex;
        height: max-content;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and (max-width: 620px) {
            justify-content: center;
        }

        &>.search-bar {
            padding: 8px;
            margin: 8px 16px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &>input {
                border: none;
                background-color: transparent;
                padding: 4px 8px;
                @include text;
                overflow: hidden;

                &:focus {
                    outline: none;
                }
            }

            &>button {
                background-color: transparent;
                border: none;
                font-size: 16px;
                cursor: pointer;
            }

        }


        &>.about {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'PT Sans', sans-serif;
            margin: 10px 16px;

            &>.name {
                margin: 0px;
            }

            &>a {
                margin: 0px;
                color: black;
                font-style: normal;
            }
        }

    }

    &>.bottom {
        display: flex;
        flex-direction: column;
        height: max-content;
        border-top: 1px inset black;
        align-items: center;

        &>.social-media {
            display: flex;
            flex-direction: row;
            align-items: center;

            &>a {
                margin: 0px 4px 16px 4px;
                font-size: 32px;
            }

            &>.github {
                color: black;
            }

            &>.linkedin {
                color: #0e76a8;
            }
        }
    }
}