.container-404 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-around;

    .btn {
        width: max-content;
        height: min-content;
        justify-self: center;
        margin: 2em 0;
    }

    @media screen and (max-width: 768px) {
        font-size: smaller;
    }
}

.number {
    display: flex;
    align-items: center;
    margin: 2em auto;
    height: max-content;

    &>.letter {
        font-family: 'Roboto Mono', monospace;
        font-size: 14em;
        line-height: normal;
        animation: SlideIn 0.9s forwards 0.8s;
        opacity: 0;

        &--1 {
            animation-delay: 0.2s;
        }

        &--2 {
            animation-delay: 0.4s;
        }

        &--3 {
            animation-delay: 0.6s;
        }
    }
}

.not-found {
    animation: SlideIn 0.9s forwards 0.8s;
    opacity: 0;
    font-size: 5em;
    margin: 16px 0;

    @media screen and (max-width: 768px) {
        font-size: 3em;
    }
}