.choice,
.choice-publi {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: .5rem;
    align-items: center;

    span {
        margin-left: 0.5rem;
        @include text();
        line-height: 20px;
        font-size: 18px;
    }
}

.container-article {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;

    & .themes-filter {
        padding: 2em;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 16px 32px;
        max-width: 250px;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            margin: 16px auto;
        }

        &>div {
            padding: 1em 0;
            border-bottom: 2px black solid;
            @include text();
            font-family: 'Roboto Mono', monospace;
            font-size: 1.5em;
            line-height: normal;
        }

        &>.reset-filter {
            margin: 32px 0;
        }
    }
}

.check-input {
    display: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s all;

    & svg {
        width: 20px;
        height: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        display: block;
        width: 60px;
        height: 60px;
        background: #26bfbf66;
        z-index: -1;
    }
}

.check-input:checked+.checkbox {
    background: #26bfbf;
    border: 2px solid #26bfbf;

    & svg path {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        stroke: #fff;
        stroke-width: 3;
        animation: check 4s forwards;
    }
}

.grid-article {
    height: max-content;
    margin: 32px 5%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    & .item-article {
        background-color: rgba($color: black, $alpha: 0.02);
        height: max-content;
        padding: 16px;
        display: flex;
        flex-direction: column;
        margin: 8px;
        border-top: 1px $dark-gray solid;
        border-bottom: 1px $dark-gray solid;

        @media screen and (max-width: 768px) {
            padding: 8px;
        }
    }

    & h1 {
        margin: 0;
        color: black;
    }

    & .details {
        display: flex;
        margin-left: 16px;
        align-items: baseline;

        &>h2 {
            @include text();
        }

        &>h2:last-child {
            &::before {
                color: #d5d8dc;
                content: "\2022";
                padding: 0 0.8rem;
                display: inline-block;
                line-height: 1;
            }
        }
    }

    & .themes {
        display: flex;
        flex-wrap: wrap;
    }

    button {
        margin: 4px;
        padding: 4px 12px;
        width: max-content;
        border-radius: 20px;
        border: $blue 1px solid;
        background-color: rgba($color: $blue, $alpha: 0.2);
        cursor: pointer;

        &:hover {
            background-color: rgba($color: lighten($blue, 25%), $alpha: 1.0);
        }
    }
}