// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
    background-image: url('../images/Background.png');
    background-size: contain;
}


#page-grid {
    display: grid;
    grid-template-columns: 64px 2fr 64px;
    grid-template-rows: 1fr;
    column-gap: 0px;
    row-gap: 0px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 16px 2fr 16px;
    }

    &>.content {
        background-color: #e5e5e5;
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;


        &>div {
            height: max-content;
            display: flex;
            align-items: center;
            scroll-margin-block-start: 64px;
            flex-direction: column;

            &>.main-content {
                display: flex;
                justify-content: center;
                margin: 32px;
                width: calc(100% - 64px);
                height: 60vh;

                @media screen and (max-width: 768px) {
                    height: 40vh;
                }
            }

        }

        &>#articles {
            &>.main-content {
                display: flex;
                justify-content: center;
                margin: 32px;
                width: calc(100% - 64px);
                height: 60vh;

                @media screen and (max-width: 768px) {
                    height: 40vh;
                }
            }
        }

        &>#podcasts {}

        &>#photos {}

    }
}